.flout-menu{
    margin: 0px;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    height: 60px;
    background-color: beige;
}

p#tpcs{
    font-size: 40px;
    margin-top: 0px;
}


.flex-menu{
    display: flex;
}

div#menu{
    height: 60px;
}

.right-menu{
    margin-top: 0px;
    display: flex;
    width: 953px;
    justify-content: space-between;
    margin-left: auto;
    padding: 10px;
}



hr#border{
    margin-top: 0px;
}

.main-content{
    margin-top: 170px;

}

.sns-link{
    width: 70px;
}

article#main-article{
    margin-bottom: 520px;
}

li#circle-logo{
    list-style: none;
}

body{
    margin: 0px;
    background-image: url(images/Untitled\ design.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

button#info-button{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    position: fixed;
    right: 5px;
    bottom: 5px;
}
